<p id="notice"><%= notice %></p>

<h1>Fibs</h1>

<div id="fibs">
  <table>
    <thead>
    <tr>Name</tr>
    <tr>Sequence Length</tr>
    </thead>

    <tbody>
      <tr
          is="fib-row"
          v-for="fib in fibs"
          :fib="fib">
        <td>{{ fib.name }}</td>
        <td>{{ fib.sequence_length }}</td>
      </tr>

      <tr>
        <td>
          <input type="text" v-model="fib.name"><br>
          <span style="color:red">{{ errors.name }}</span>
        </td>
        <td>
          <input type="text" v-model="fib.sequence_length"><br>
          <span style="color:red">{{ errors.sequence_length }}</span>
        </td>
        <td><button @click="newFib">New</button></td>
      </tr>
    </tbody>
  </table>
</div>


<script type="text/x-template" id="fib-row">
  <tr>
    <td>
      <div v-if="editMode">
        <input type="text" v-model="fib.name"><br>
        <span style="color:red">{{ errors.name }}</span>
      </div>
      <div v-else>{{ fib.name }}</div>
    </td>
    <td>
      <div v-if="editMode">
        <input type="text" v-model="fib.sequence_length"><br>
        <span style="color:red">{{ errors.sequence_length }}</span>
      </div>
      <div v-else>{{ fib.sequence_length }}</div>
    </td>
    <td>
      <button v-if="editMode" @click="updateFib">Save</button>
      <button v-else @click="editMode = true">Edit</button>
      <button v-if="!editMode" @click="deleteFib" style="color:red">Delete</button>
    </td>
  </tr>
</script>